{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-object-rest-spread"
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "env", {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
