// https://github.com/vuejs-templates/webpack/blob/master/docs/static.md
$base-path: "~@/common/font";

.icon-ok-outline:before { content: '\e801'; }
.icon-ok:before { content: '\e802'; }
.icon-cancel-1:before { content: '\e803'; }
